version: "3"
services:
  db:
    image: mysql
    restart: always
    volumes:
      - "/home/admin/datamysql:/var/lib/mysql "
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: dd
      
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8085:80"

  building:
    build:
      context: .
      dockerfile: Dockerfile_build
    volumes:
      - "war-dir:/home/artifacts/"
  
  deploing:
    build:
      context: .
      dockerfile: Dockerfile_deploy
    volumes:
      - "war-dir:/tmp/artifacts/"
    depends_on:
      - building
    ports:
      - "8083:8080"
      
volumes:
  war-dir:
