version: "3.9"
services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_USER: users
      MYSQL_PASSWORD: 1234
      
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8085:80

  building:
    build:
      context: .
      dockerfile: Dockerfile_build
      volumes:
        - type: volume
          source: war-dir
          target: /home/app/target
  
  deploing:
    build:
      context: .
      dockerfile: Dockerfile_deploy
      volumes:
        - type: volume
          source: war-dir
          target: /tmp/app
      depends_on:
       - building
      
volumes:
  war-dir:
