version: "3"
services:
  db: 
    container_name: db-service
    image: mysql
    restart: always
    volumes:
        - "/home/admin/datamysql/:/var/lib/mysql/"
    ports:
      - "3306:3306"
    security_opt:
      - seccomp:unconfined  
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8085:80"

  building:
    build:
      context: .
      dockerfile: Dockerfile_build
    volumes:
      - "war-dir:/home/artifacts/"
  
  deploing:
    build:
      context: .
      dockerfile: Dockerfile_deploy
    volumes:
      - "war-dir:/tmp/artifacts/"
    depends_on:
      - building
    ports:
      - "8083:8080"
      
volumes:
  war-dir:
